body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #060c21;
  font-family: sans-serif;
}
.container{
  position: relative;
  width: 20%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-template-rows: auto;
  grid-gap: 0 50px;
  margin: 30px;
}
.container .box{
  position: relative;
  height: 400px;
  background: #060c21;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .box:after{
  content: ' ';
  position: absolute;
  top:0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.container .box:before{
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg,2deg);
  z-index: -1;

}
.container .box::before{
  background: linear-gradient(315deg,#ff0057,#e64a19);
}


.content{
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}
.box .content h2{
  position: absolute;
  top:-60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #E59866;
  transition: 0.5s;
  opacity: 0.8;
}
.box:hover .content h2{
  top: -140px;
}
.box .content h3{
  margin: 0 0 10px;
 padding: 0;
 font-size: 24px;
 font-weight: 500;
 color: #fff;
}
.box .content p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}
.box .content a{
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.box:hover .content a{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.box .content a:hover{
  color: #fff;
  background:#154360;
}
